.culture h1{
    text-align: center;
    margin: 3%;
}

.about-banner img{
    position: relative;
}

.about-banner h3{
    position: absolute;
    color: white;
    margin-top: 12%;
    text-align: center;
    margin-left: 40%;

}

@media (max-width:768px){
    .row.about-banner h1 {
    margin-top: 0px;
    font-size: 20px;
    margin-left: -25px;
}
    .row.about-banner {
    margin-top: 15%;
}
h2.accordion__items {
    font-size: 20px;
}
h1.accordion__title {
    font-size: 1.5rem;
}
}

.card-body .col-lg-12 .col-md-12 .col-sm .col-xs-12{
    color: white;
    padding: 10px;
}

@media (max-width:768px){
    .about-banner h3 {
    position: absolute;
    color: white;
    margin-top: 25%;
    text-align: center !important;
    font-size: 20px;
    margin-left: 30%;
}
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}