marquee.marquee-text {
    color: white;
    margin-top: 72px;
    background: black;
}

@media (min-width:1000px){
  .services .card-body {
    z-index: 10;
    background: #fff;
    height: auto !important;
    font-size: 1rem;
    margin-left: -20px;
    width: 400px !important;
    border-top: 4px solid #fff;
    padding: 10px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  .card{
    margin-bottom: 0px !important;
  }
  #service5 .card-body{
    max-height:235px !important;
  }
}

@media(min-width:769px){
  .mobile-screen{
    display:none;    
  }
}

@media(max-width:768px){
  .large-screen{
    display: none;
  }
  .mobile-screen{
    margin-top: -30px !important;
    margin-bottom: -50px !important;
  }
   
h3.accordion__content__caption {
    font-size: 17px !important;
}
ul.accordion__content__txt {
    color: white;
}
.services .card-body {
  padding:10px !important;
  margin-left: -20px !important;
  width: 270px !important;
}
h2.accordion__items {
    font-size: 12px !important;
}
}